__pycache__/utils.cpython-312.pyc
data.csv
.vscode/settings.json
firebase.json
google_credentials.json
__pycache__/utils.cpython-310.pyc
helpful-scripts/__pycache__/utils.cpython-310.pyc
.streamlit/secrets.toml
